.text-input {
  width: 100%;
  color: #707070;
  position: relative;
  border-bottom: 1px solid #707070;
  height: 44px;
}

.text-input input {
  border: 0;
  width: 100%;
  font-size: 16px;
  caret-color: #707070;
  color: #707070;
  position: "absolute";
  padding-top: 24px;
  background-color: transparent;
}

.text-input input:focus {
  outline: none;
}

.text-input label {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.1s linear;
}

.text-input input:focus + label,
.text-input input:not(:focus):valid + label {
  padding-left: 10px;
  transition: all 0.1s linear;
  font-size: 14px;
}

.checkbox-input input {
  display: none;
}

.checkbox-input .checkbox-box {
  height: 12px;
  width: 12px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.checkbox-input label {
  padding-left: 8px;
  cursor: pointer;
}

.checkbox-input svg {
  color: white;
  margin-bottom: 16px;
}

.radial-input {
  display: flex;
}

.radial-input input {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #707070;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #707070;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 0.5em;
  cursor: pointer;
}

.radial-input input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #f2a16b;
}

.radial-input input:checked::before {
  transform: scale(1);
}

.radial-input label {
  position: relative;
  bottom: 3px;
}

.radial-input span {
  position: relative;
  bottom: 5px;
  margin-right: 0.5em;
}

div.file-input {
  width: 100%;
  background-color: white;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.file-input.dark {
  background-color: #f2efe9;
}

div.file-input > p {
  margin-right: 1em;
}

input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

label.file-input {
  border: 1px solid #343331;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: #343331;
  z-index: 2;
}

.dropdown-input {
  display: flex;
  flex-direction: column;
  color: #707070;
}

.dropdown-input select {
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: #707070;
}

.dropdown-input select:focus {
  outline: none;
}

.dropdown-input label {
  margin-bottom: 1em;
}
