@font-face {
  font-family: 'Crimson Text';
  src: local('Crimson Text'), url(./assets/fonts/Crimson_Text/CrimsonText-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

body {
  box-sizing: border-box;
  margin: 0;
}

.loader:empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #343331;
}

.loader:empty::after {
  content: 'Aniko.Art';
  font-family: 'Crimson Text', serif;
  font-size: 5rem;
  color: white;
  animation: fadeIn linear 3s infinite;
  -webkit-animation: fadeIn 3s infinite;
  -moz-animation: fadeIn 3s infinite;
  -o-animation: fadeIn 3s infinite;
}

@keyframes fadeIn {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes fadeIn{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes fadeIn{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadeIn{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}