@import url(sanitize.css);

@font-face {
  font-family: "Crimson Text";
  src: local("Crimson Text"),
    url(./assets/fonts/Crimson_Text/CrimsonText-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Din Light";
  src: local("Din Next Rounded"),
    url(./assets/fonts/Din_Next_Rounded/DINNextRoundedLTPro-Light.otf)
      format("truetype");
}

@font-face {
  font-family: "Din Bold";
  src: local("Din Next Rounded"),
    url(./assets/fonts/Din_Next_Rounded/DINNextRoundedLTPro-Regular.otf)
      format("truetype");
}

/* TEST */
@font-face {
  font-family: "Object Light";
  src: local("Object Light"),
    url(./assets/fonts/Test/Object-UltraLight.ttf) format("truetype");
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Din Light", sans-serif;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
  box-sizing: border-box;
  margin: 0;
  font-family: "Din Light", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Object Light", serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: 0 0 0 5px rgba(242, 161, 107, 0.5) !important;
}

.loader:empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #343331;
}

.loader:empty::after {
  content: "Aniko.Art";
  font-size: 5rem;
  color: white;
  animation: fadeIn linear 3s infinite;
  -webkit-animation: fadeIn 3s infinite;
  -moz-animation: fadeIn 3s infinite;
  -o-animation: fadeIn 3s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
